<section id="blog" class="slides blog">
    <div class="blog-section ">
        <div class="scroll-up">
            <a id="blog_caret_up" class="caret-up"  href="#projects">{% include svg/up.svg %}</a>
        </div>
        <div class="blog-header">
            <div class="blog-mainlink">
                <h2>
                    <a href="/{{ site.section_two | downcase }}">{{ site.section_two }}</a>
                </h2>
            </div> 
            <h4 >Recent Posts</h4>
        </div>
        <div class="blog-content ">
            <ul>
                {% for post in site.posts limit:3 %}
                    <li>
                        <a href="{{ post.url }}">
                            {{ post.title | upcase }}
                        </a>
                        <h6>{{ post.date | date_to_string }} - {{ post.type }}</h6>
                        <p>{{ post.description }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="blog-mainlink">
            <a href="/{{ site.section_two | downcase }}">see all</a>
        </div> 
        <div class="scroll-down">
            <a id="blog_caret_down" class="caret-down" href="#certificates">{% include svg/down.svg %}</a>
        </div>
        
    </div>
</section>