@media screen and (min-width: 800px) {
  .post-mini-breadcrumb{
    margin-left: 92%;

  }
  .project-mini-breadcrumb {
    margin-left: 86%;

  }
}
@media screen and (max-width: 801px) {
  .sidebar {
    transition: none;
  }
}
  
@media screen and (max-width: 800px) {
  #bodyContent, #bodySidebar {
    all: initial;
  }

  .post-mini-breadcrumb {
    margin-left: 84%;

  }
  .project-mini-breadcrumb {
    margin-left: 80%;

  }
  .header-container {
    display: flex;
    flex-direction: column;
    .sidebar {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      position: relative;
      a {
        float: left;
        padding: 0;
        &:hover {
          font-size: medium;
        }
      }
      .nav-wrapper {
        display: flex;
        flex: 100%; 
      }
    }
  }
  .closebtn {
    display: none;
  }
  .openbtn {
    display: none;
  }
  
  .landing-links  {
    flex-direction: column;
    text-align: center;
  }
  .landing-link-item  {
    margin-top: 20px;
  }
  .landing-madeby {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 1200px) {

  .nav{
    p{
      visibility: hidden;
      display: none;
      opacity: 0;
      transition: visibility 0.1s, opacity 0.1s linear;
    }
  }
}