.sidebar {
    height: 100%;
    width: 0;
    margin: 0;
    top: 0;
    left: 0;    
    position: fixed;
    z-index: 1;
    background-color: var(--color-sidebar-background);
    overflow: hidden;
    transition: 0.3s;
    padding-top: 60px;

}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    background-color: var(--color-sidebar-background);
    color: var(--color-text-alt);
    padding: 30px 10px;
    border: none;
    top: 50vh;
    left: 5px;
    transition: 0.3s;
    &:hover{
        background-color: var(--color-link-hover);
        transform: scale(1.2);
    }
}
.closebtn {
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    background-color: var(--color-background);
    color: var(--color-link);
    padding: 30px 10px;
    border: none;
    transition: 0.3s;
    top: 50vh;
    right: 5px;
    &:hover{
        background-color: var(--color-link-hover);
        transform: scale(1.2);
    }
}
.nav-wrapper {

    .nav {
        margin-top: 7.5px;
        // transition: 0.5s;
        text-align: left;

        a {
            text-decoration: none;
            color: var(--color-link);
            margin-left: 32px;
            transition: 0.2s;
            &:hover {
                color: var(--color-link-hover);
                font-size: 120%;
                transition: 0.2s;
            }

        }

        .nav-current {
            color: var(--color-link-hover);
            font-size: 20px;
            pointer-events: none;
            cursor: default;
        }
        
    }
    p {
        text-decoration: none;
        color: var(--color-link);
        padding: 8px 35px 8px 32px;
        text-align: left;

        .nav_summary{
            height: fit-content;
            margin-top: 7.5%;
            margin-right: 50px;
        }
    }
    .nav_madeby {
        height: 10px;
        margin-top: 10px;
        padding: 8px 8px 8px 32px;
        h6 {
            color: var(--color-link);
            text-align: left;
        }
    }
}

#home_link{
    h2 {
        color: var(--color-link);
        transition: 0.1s;
        // text-align: left;
        // float: left;
        &:hover {
            color: var(--color-link-hover);
            // font-size: 120%;
            transition: 0.1s;
        }
    }
}