.post-header-container {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;

    .post-page-header {
        text-align: right;
        margin-inline: 5%;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        transition: 0.2s;

        h1, h2, h3, h4, h5, h6 { 
            color: var(--color-text-alt);
        }  
        
        .post-date{
            p {
                color: var(--color-text-alt);
                line-height: 30px;
                text-align: right;
        
            }
        }

    }

}

.post-mini-breadcrumb {
    margin-top: 0.5%;
    transition: 0.2s;
    a {
        text-decoration: none;
        color: var(--color-text);
        transition: 0.2s;
        padding-bottom: 8px;
        &:hover {
            color: var(--color-link-hover);
            transition: 0.2s;
        }
    }
}

.post-container {
    display: flex;
    list-style: none;
    text-decoration: none;
    flex-direction: column;
    background: var(--black);
    color: var(--color-text-alt);
    transition: 0.5s;

    p, h1, h2, h3 {
        line-height: 30px;
    }
    ul {
        list-style-type: none;
        margin: 20px;
    }
    li {
        margin-top: 10px;
    }

    .post-content {
        margin-bottom: 20px;
        background: var(--color-sidebar-background);
        width: auto;
        height: auto;
        border-radius: 15px;
        padding: 20px;
        text-align: justify;
        transition: 0.3s;
    }
}


