.post-header-container {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;

    .post-page-header {
        text-align: right;
        margin-right: 5%;
        padding-top: 5%;


        h1, h2, h3, h4, h5, h6 { 
            color: var(--color-text-alt);
        }  
        
        .post-date{
            p {
                color: var(--color-text-alt);
                line-height: 30px;
                text-align: right;
        
            }
        }
    }
    .post-mini-breadcrumb {
        text-align: right;
        top: 0;
        right: 0;
        margin-right: 5%;
        margin-top: 0.5%;
        transition: 0.2s;
        height: fit-content;
        width: fit-content;
        padding: 8px;
        position: absolute;
        a {
            text-decoration: none;
            transition: 0.2s;
            padding-bottom: 8px;
            h4 {
            color: var(--color-text-alt);
                &:hover {
                    color: var(--color-link-hover);
                    font-size: 120%;
                    transition: 0.2s;
                }
            }
    
        }
    }
}



.post-container {
    display: flex;
    list-style: none;
    text-decoration: none;
    flex-direction: column;
    background: var(--black);
    color: var(--color-text-alt);
    transition: 0.5s;

    p, h1, h2, h3 {
        line-height: 30px;
    }
    ul {
        list-style-type: none;
        margin: 20px;
    }
    li {
        margin-top: 10px;
    }

    .post-content {
        margin-bottom: 20px;
        background: var(--color-sidebar-background);
        width: auto;
        height: auto;
        border-radius: 15px;
        padding: 20px;
        text-align: justify;
        transition: 0.3s;
    }
}


