.project-header-container {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;

    .project-page-header {
        text-align: right;
        margin-right: 5%;
        h1, h2, h3, h4, h5, h6 { 
            color: var(--color-text-alt);
        }  
    }
    .project-date{
        p {
            color: var(--color-text-alt);
            line-height: 30px;
            text-align: right;
    
        }
    }
    .project-mini-breadcrumb {
        margin-top: 0.5%;
        transition: 0.2s;
        a {
            text-decoration: none;
            padding-bottom: 8px;
            h4 {
            color: var(--color-text-alt);
                &:hover {
                    color: var(--color-link-hover);
                    font-size: 120%;
                    transition: 0.2s;
                }
            }
    
        }
    }
}



.main-projects-container {
    display: flex;
    list-style: none;
    text-decoration: none;
    flex-direction: column;
    background: var(--black);
    color: var(--color-text-alt);
    transition: 0.5s;
    p, h1, h2, h3 {
        line-height: 30px;
    }
    ul {
        list-style-type: none;
        margin: 20px;
    }
    li {
        margin-top: 10px;
        a{
            text-decoration: none;
        }
        h5 {
            color: var(--color-post-dates);
            border-bottom: 2px solid;
            border-color: var(--color-tabs-background);
        }
    }

    .main-projects-content {
        margin-bottom: 30px;
        background: var(--color-sidebar-background);
        height: fit-content;
        border-radius: 15px;
        padding: 20px;
        text-align: justify;
        transition: 0.3s;
        .project_tab {
            overflow: hidden;
            background-color: var(--color-tabs-background);
            border-radius: 3px;
            button {
                background-color: inherit;
                color: var(--color-text-alt);
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
                font-size: 17px;
            }
    
            button:hover {
                background-color: var(--color-link-hover);
    
            }
    
            button.active {
                background-color: var(--color-link-active);
            }
        }
        
    
    }
            
    .project_tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    }
}

