---
layout: default
---
<header class="post-header-container">
    <div class="post-page-header">
        <div class="post-mini-breadcrumb">
            <a href="/blog"><h4>/blog</h4></a> 
        </div>
        <h1>{{ page.title }}</h1> 
        <div class="post-date">
            <p>{{ page.date | date_to_string }} </p>

        </div>
     </div>
</header>

<div class="body-container">
    <div id="bodyContent" class="main-projects-container"> 
        <div class="post-container">
            <div class="post-content">
                
                {{ content }}
        
              </ul>
            </div>
          </div>
    </div>
    
    <div>
        <button id="obtn" class="openbtn" onclick="openNav()">&gt;</button>  
    </div>
    <div id="bodySidebar" class="sidebar">
        {% include navigation.html %}
    </div>
</div>


