---
layout: details
---
<div class="main-projects-container">
  <div class="main-projects-content ">
      <div >
          <h3>All Projects</h3>
          <div class ="project-gallery-wrapper fade-in">
            {% assign projects = site.feature_projects%}
              {% for post in site.posts %}
                  {% if post.type == 'projects' %}
                  <div class="project-box">
                    <h3><a href="{{ post.url }}">
                      <img src="{{ site.projimagesurl }}{{ post.image }} " alt="{{ post.title }}" class="proj" />
                      {{ post.title }}</a></h3>
                    <h5>{{ post.date | date_to_string }}</h5>
                    {{ post.excerpt }}
                  </div>          
                  {% endif %}
              {% endfor %}
          </div>
      </div>
  </div>    
</div>
